

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 90vh;
  position: relative;
}


.tam{
  font-size:20px;
}









